---
import yaml from 'yaml';
import fs from 'node:fs';
import { Code } from '@astrojs/starlight/components';

// Define props
const { group, description, example } = Astro.props;
const contents = fs.readFileSync(`src/assets/macros/actions/${group}.yaml`, 'utf8');
// Parse the YAML content
const data = yaml.parse(contents) as any;

interface Props {
  group: string;
  description: string;
  example ?: string;
}

---

{data.actions.map(action=>{
  return Object.entries(action).map(([name, props])=>{
    return (
        <div>
          <h2 id={name}>%{name}</h2>
          <div>{props.description}</div>
          {props.example && (
            <div>
              <Code title="Example usage" code={props.example} lang="bash" frame="terminal" />
            </div>
          )}
      </div>
    )
  })
})}
